button {
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 10px;
    height: 40px;
}

#city-list{
    padding: 0;
    border: none;
}

.city{
    border-radius: 5px;
    margin: 1px;
    margin-bottom: 10px;
}

#search-button{
    background:  cornflowerblue;
    border-radius: 5px;
    margin-top: 5px;
    padding: 0;
    
}
#clear-button{
    background: firebrick;
    border-radius: 5px;
    margin-top: 5px;
    padding: 0;
    height: 30px;
}

.input-group-append{
    display: block !important;
    padding: 0 !important;
}

.hr {
    padding:0 !important;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: black;
}

.form-input {
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 40px;
}

#five-forecast{
    margin: 0;
}

.forecast{
    background-color: rgb(42, 75, 117);
    margin-right: 10px;
    color: white;
    padding: 5px !important;
}

.weather-header{
    background-image: linear-gradient(to right, royalblue, midnightblue );
}

.withBorder{
    border: 1px solid black;
    padding: 5px;
    margin-right: 10px;
}

#forecast-heading{
    margin-left: 15px;
}